@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.authenticate_sign_up {
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.login_and_register_section {
  width: 50%;
  margin: auto;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 0.2s;
}
.login_and_register_section h2 {
  color: #071437;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 0.2s;
}
.login_and_register_section > div {
  width: 40%;
  margin: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #f1f1f4;
  background: #fff;

  /* Widget Shadow */
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.174);
}
.login_and_register_section > div img {
  border-radius: 100%;
}
.login_and_register_section > div h3 {
  color: #071437;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.24px;
  margin-bottom: 40px;
}
.login_and_register_section > div form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login_and_register_section > div form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login_and_register_section > div form div label {
  color: #071437;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.13px;
}
.login_and_register_section > div form div input {
  display: flex;
  padding: 13px 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--LightMode-Grey-Grey-300, #dbdfe9);
  outline: none;
}
.login_and_register_section > div form .password_requirements {
  display: flex;
  gap: 10px !important;
}
.login_and_register_section > div form .password_requirements p {
  text-align: left;
  padding: 0;
  margin: 5px;
}
.login_and_register_section > div form button {
  display: flex;
  padding: 13px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--LightMode-Primary-Primary, #1b84ff);
  border: none;
  color: #fff;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.13px;
  cursor: pointer;
}

.login_and_register_section > div p {
  color: var(--LightMode-Grey-Grey-500, #99a1b7);
  text-align: center;
  /* Body/B-11-12-500" */
  font-family: "Inter";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 109.091% */
  margin: 30px 0;
}
.login_and_register_section > div p:last-child {
  color: var(--LightMode-Grey-Grey-600, #78829d);
  text-align: center;

  /* Body/B-13-14-500 */
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 107.692% */
  letter-spacing: -0.13px;
}
.login_and_register_section > div p:last-child a {
  color: #1b84ff;
  text-decoration: none;
}

.login_and_register_section > div > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.login_and_register_section > div > div div {
  width: 140px;
  display: flex;
  padding: 9px 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--LightMode-Grey-Grey-300, #dbdfe9);
  background: #fff;
  color: var(--LightMode-Grey-Grey-700, #4b5675);
  font-family: "Inter";
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  line-height: 12px;
}

/* Right Section */

.signup_bg {
  width: 50%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #07143737;
  background-color: rgba(128, 128, 128, 0.046);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.174);
}
.signup_bg img {
  width: 100%;
  border-radius: 8px;
}

/* Responsive */

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .authenticate_sign_in {
    padding-top: 15%;
  }
  .login_and_register_section > div {
    width: 70%;
  }
  .login_and_register_section > div > div div {
    width: 100px;
  }
  .signup_bg {
    border: none;
    box-shadow: none;
  }
}

/* Phone */
@media only screen and (max-width: 768px) {
  .authenticate_sign_in {
    padding-top: 7%;
  }
  .login_and_register_section {
    width: 100%;
  }
  .login_and_register_section > div {
    width: 70%;
  }
  .login_and_register_section > div > div div {
    width: 120px;
  }
  .signup_bg {
    display: none;
  }
}
